@charset "utf-8";
/* CSS Document */
html{
	width:100%;
	height:100%;	
	}
body{
	overflow:hidden;
	margin:0;
	padding:0;
	width:100%;
	height:100%;
	background:url(../images/bg.png) repeat;
	font-family:Arial, Helvetica, sans-serif;	
}
#allMask{
	position:relative;
	overflow:hidden;
	/*width:1600px;
	height:900px;*/
	width:95%;
	max-width:1600px;
	min-width:1000px;
	height:100%;
	max-height:900px;
	min-height:700px;
	margin:0 auto;	
}
#main{
	overflow:hidden;
	position:relative;
	width:1600px;
	height:900px;
	margin:0 auto;	
}
/*#allMask{
	overflow:hidden;
	width:1000px;
	margin:0 auto;
	border:1px red solid;	
}
#main{
	overflow:hidden;
	position:relative;
	width:1600px;
	height:900px;
	margin:0 0 0 -300px;	
}*/
#logo{
	position:absolute;
	top:28px;
	left:88px;
	z-index:5500;
	opacity:0;	
}
#sec01{
	position:relative;
	width:1600px;
	height:900px;
	margin:0 auto;
	padding:0 0 0 0;
	background:url(../images/bg02.png) center center no-repeat;
	text-align:center;		
}
#sec01>img{
	display:none;
	position:absolute;
	top:3px;
	left:4px;		
}
#sec01 .descBlk{
	opacity:0;
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-133px;
	z-index:500;
	width:465px;
	height:110px;	
	color:#FFF;
}
#sec01 .descBlk .name{
	display:block;
	font-size:30px;	
	height:35px;
	background:url(../images/text-0-0.png) top right no-repeat;	
	text-indent:-9999px;
}
#sec01 .descBlk .desc{	
	width:382px;
	height:59px;
	margin:16px 0 0 1px;
	font-size:15px;	
	line-height:20px;
	background:url(../images/text-0-1.png) top right no-repeat;
	text-indent:-9999px;
}
#sec02{
	position:absolute;
	width:1600px;
	top:900px;
	height:900px;
	background:#FFF;	
}
#sec02 .desc{
	position:absolute;
	top:50%;
	width:100%;
	margin:-97px 0 0 0;
	font-size:30px;
	text-align:center;
	color:#576C82;
	font-family:Arial, Helvetica, sans-serif;	
	opacity:0;
}
#sec02 .desc img{
	position:relative;
	left:32px;
	display:block;
	width:550px;
	height:35px;
	margin:0 auto;
}

#sec02 .desc02{
	position:absolute;
	top:50%;
	width:100%;
	margin:-100px 0 0 0;
	font-size:30px;
	text-align:center;
	color:#576C82;
	font-family:Arial, Helvetica, sans-serif;	
	opacity:0;
}
#sec02 .desc02 img{
	position:relative;
	left:0;
	display:block;
	width:690px;
	height:40px;
	margin:0 auto;
	opacity:1 !important;
}
.mask{
	background:url(../images/1_03.jpg);
}
.mask{
	height:900px;
	overflow:hidden;	
}
#sec03{
	position:absolute;
	top:0;
	left:1600px;
	width:1600px;
	height:900px;
	background:url(../images/1_02.jpg) center center no-repeat;
}

#sec03 .descBlk{
	position:relative;
	width:350px;
	height:900px;
	background:#000;
}
#shadow{
	position:absolute;
	left:-260px;
	opacity:0;	
}
#sec03 .descBlk p{
	position:relative;
	top:45%;
	width:240px;
	margin:0 auto 0 auto;
	word-spacing:8px;
	color:#FFF;
	font-size:18px;
	line-height:120%;
	opacity:0;
}
#sec03 .descBlk p img{
	margin-top:-41px;	
}
#sec04{
	position:absolute;
	width:1600px;
	height:900px;
}
#sec04 img{
	position:absolute;
}
#buildingFront{
	position:relative;	
}
#moveCase{
	display:block;
	width:80%;
	left:50%;
	margin:68px auto 0 -612px;
	opacity:0;	
}
#moveCaseHand{
	position:relative;
	z-index:500;
	left:50%;
	top:0;
	margin:0 0 0 -50px;
	opacity:0;
}
#moveCaseBlock{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#000;
	opacity:0;	
}
#sec04 .desc{
	position:absolute;
	z-index:600;
	top:250px;
	left:50%;
	width:250px;
	margin:-100px 0 0 -300px;
	color:#000;
	font-size:30px;
	opacity:0;
}
#sec04 .desc img{
	position:relative !important;
	left:-194px;
	top:18px;	
}

#sec05{
	position:absolute;
	z-index:1000;
	top:0;
	left:1600px;
	width:1600px;
	height:900px;
	background:url(../images/3_03.jpg) no-repeat;
}
#sec05 img{
	position:absolute;	
}
#mBack{
	left:250px;	
}
#mFront{
	left:0px;	
}
#cardCase{
	margin:100px 0 0 100px;
	opacity:0;	
}
#cardCaseHand{
	position:relative;
	z-index:1500;
	left:50%;
	top:0;
	margin:274px 0 0 -114px;
	opacity:0;
}
#cardCaseBlock{
	position:absolute;
	z-index:1000;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#000;
	opacity:0;	
}
#sec05 .desc{
	position:absolute;
	top:50%;	
	width:100%;
	margin:-333px 0 0 -282px;
	padding:0 0 0 450px;
	text-align:center;
	color:#FFC785;
	font-size:40px;
	opacity:0;
	/*text-shadow: 0px 0px 30px rgba(0,0,0,.5),0px 0px 30px rgba(0,0,0,.4),0px 0px 30px rgba(0,0,0,.3),0px 0px 30px rgba(0,0,0,.2);
	word-spacing:8px;
	border:1px red solid;*/
}
#sec05 .desc img{
	position:relative !important;
	opacity:1;
}
#sec06{
	position:absolute;
	left:1600px;
	top:0;
	z-index:1100;
	width:1600px;
	height:900px;
	background:#000;
}
#sec06 img{
	position:absolute;	
}
#sec06 .descBlk{
	position:absolute;
	bottom:0;
	width:100%;
	height:75px;
	padding:50px 0 0 0;
	background:#000;
	color:#CCCCCC;
	font-size:18px;
	text-align:center;
}
#sec06 .descBlk .desc{
	opacity:0;
	margin:-2px 0 0 -3px;	
}
#sec06 .descBlk .desc img{
	position:relative !important;	
}
#sec07{
	position:absolute;
	top:0;
	z-index:1200;
	width:1600px;
	height:900px;
}
#sec07 img{
	position:absolute;	
}
#buildingNight{
	top:900px;	
}
#colorCase1,#colorCase2,#colorCase3,#colorCase4{
	opacity:0;	
}

#colorCase1,#colorCase2{
	top:205px;	
}
#colorCase3,#colorCase4{
	top:247px;
	width:130px;
	height:415px;
}
#colorCase3{
	left:0;	
}
#colorCase4{
	right:0;	
}
#sec07 .desc{
	position:absolute;
	top:121px;
	left:667px;;	
	width:400px;
	text-align:right;
	color:#FFF;
	font-size:28px;
	opacity:0;
	/*text-shadow: 0px 0px 2px rgba(0,0,0,1),0px 0px 30px rgba(0,0,0,.4),0px 0px 30px rgba(0,0,0,.3),0px 0px 30px rgba(0,0,0,.2);
	word-spacing:8px;
	line-height:120%;*/
}
#sec07 .desc img{
	position:relative;	
}
#sec08{
	overflow:hidden;
	position:absolute;
	top:0;
	z-index:1300;
	left:1600px;
	width:1600px;
	height:900px;	
}
#sec08 img{
	position:absolute;	
}
#sec08 .desc{
	position:absolute;
	top:171px;
	left:447px;	
	width:330px;
	text-align:right;
	color:#E2D7C5;
	font-size:35px;
	opacity:0;
	line-height:120%;	
}
#sec08 .desc img{
	position:relative !important;
	margin:0 0 0 -200px;	
}
#caseFrameBlack{
	position:absolute;
	width:100%;
	height:900px;
	background:#000;	
}
#caseFrameLeft{
	left:14px;
	top:6px;	
}
#caseFrameRight{
	left:-24px;
	top:-11px;	
}
#caseFrameLockRight{
	left:44px;
	top:21px;	
}
#caseFrameLockLeft{
	left:-63px;
	top:-31px;	
}
#caseFrameBack{
	left:-44px;
	top:25px;	
}
#sec09{
	position:absolute;
	top:900px;
	z-index:1400;
	width:1600px;
	height:900px;
	background:url(../images/7_01.jpg) no-repeat;
}
#sec09 img{
	position:absolute;	
}
#sec09 .desc{
	position:absolute;
	top:136px;
	left:142px;
	z-index:1000;	
	width:270px;
	text-align:right;
	color:#ECD4F5;
	font-size:35px;
	opacity:0;
	line-height:120%;	
}
#sec09 .desc img{
	position:relative !important;	
}
#caseConcert{
	top:0;
	left:50%;
	margin:196px 0 0 -124px;
	opacity:0;
}
#caseConcertHand{
	position:relative;
	z-index:1500;
	left:50%;
	top:0;
	margin:312px 0 0 -162px;
	opacity:0;
}
#caseConcertBlock{
	position:absolute;
	z-index:1000;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#000;
	opacity:0;	
}
#caseBubble01,#caseBubble02{
	opacity:0;
}
#sec10{
	overflow:hidden;
	position:absolute;
	top:900px;
	z-index:1500;
	width:1600px;
	height:900px;
	background:url(../images/8_01.jpg) no-repeat;
}
#sec10 img{
	position:absolute;
		
}
#sec10 .desc{
	position:absolute;
	top:180px;
	z-index:1500;
	width:100%;
	height:50px;
	margin:0 0 0 0;
	text-align:center;
	color:#FFC785;
	font-size:30px;
	opacity:0;
	/*text-shadow: 0px 0px 30px rgba(255,255,255,.5),0px 0px 30px rgba(255,255,255,.4),0px 0px 30px rgba(255,255,255,.3),0px 0px 30px rgba(255,255,255,.2);
	word-spacing:8px;*/
}
#sec10 .desc img{
	position:relative !important;
	margin:-100px 0 0 0;	
}
#caseGameBlack{
	position:absolute;
	z-index:1000;
	width:100%;
	height:900px;
	background:#000;
	opacity:0;	
}
#caseGame{
	bottom:0;
	opacity:1;
}
#caseGameHand{
	z-index:1200;
	left:50%;
	top:0;
	margin:250px 0 0 -351px;
	opacity:0;
}
#caseGameScore{
	position:absolute;
	z-index:2000;
	right:339px;
	top:44px;
	opacity:0;
}
#caseGameLife{
	position:absolute;
	z-index:2000;
	right:300px;
	bottom:163px;
	opacity:0;
}
#caseGamePlayer{
	left:930px;
	
	bottom:205px;
	opacity:0;
}
#caseGameEnermy01{
	top:-250px;
	left:480px;
}
#caseGameEnermy02{
	top:-300px;
	left:640px;
}
#caseGameDie{
	top:-100px;
	left:400px;
}
#caseGameBoom{
	top:350px;
	left:392px;
	opacity:0;
}
#caseGameMissile{
	top:610px;
	left:428px;
	opacity:0;
}
#sec11{
	overflow:hidden;
	position:absolute;
	z-index:1600;
	top:900px;
	width:1600px;
	height:900px;
	background:#FFF;	
}
#sec11 img{
	position:absolute;
		
}
#sec11 .descBlk{
	position:absolute;
	top:350px;
	left:930px;
	width:320px;
	color:#6D6D6D;
	font-size:20px;
	line-height:120%;
	opacity:0;
}
#sec11 .descBlk .desc{
	margin:39px 0 21px -8px;
}

#sec11 .descBlk p img{
	position:relative;
}
#sec11 .descBlk p.highlight{
	margin:0 0 0 -8px;
	opacity:.4;
	color:#FFF;
}
#caseLimit02,#caseLimit03,#caseLimit04{
	opacity:0;	
}
#caseLimitBlack{
	position:absolute;
	top:900px;
	width:100%;
	height:900px;
	background:#000;	
}
#caseLimitLabel{
	top:255px;
	left:920px;
	opacity:0;
}



#navback{
	position:absolute;
	z-index:2000;
	top:0;
	right:10px;
	width:20px;
	height:100%;
	background:#000;	
}

#nav222{
	position:absolute;
	z-index:2000;
	top:0;
	right:0;
	width:20px;
	height:100%;
	background:#FFF;	
}

#drag222{
	position:absolute;
	z-index:2000;
	top:0;
	right:0;
	width:20px;
	height:2%;
	background:#FFF;	
}
#nav{
	position:absolute;
	z-index:2000;
	top:0;
	right:0;
	width:8px;
	height:100%;
	background:#000;	
}
#nav ul{
	width:10px;
	height:100%;	
}


#nav ul li{
	display:block;
	width:10px;
	height:12.4%;
	background:#FFF;
	border-bottom:1px #CCC solid;
}
#nav ul li a{
	display:block;
	text-indent:-9999px;
	width:100%;
	height:100%;
	outline:none;	
}
/*#nav ul li a.active{
	background:#333
}*/

/*debug*/

#debug{
	position:absolute;
	top:0;
	left:0;	
}
#compare a{	
	display:block;
	width:120px;
	height:68px;
	background:#FFF;
	margin:10px;
	border:1px #CCCCCC solid;
}
#debug img{
	width:100%;	
}
#compare a.act{	
	border:1px red solid;
}
#ori{
	position:absolute;
	z-index:5000;	
}
#ori img{
	display:none;
	opacity:1;	
}